body {
  height: 100vh;
}

.chat-container {
  width: 100%;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid dimgray;
}

.chat-header {
  background: black;
  font-weight: bold;
  border-bottom: 1px solid dimgray;
}

.dark {
  background: dimgray;
  /*fix border popout*/
  border: 2px solid transparent;
}

.dark:focus {
  border: 2px solid purple;
  background: dimgray;
}

.dark::placeholder {
  color: ghostwhite;
}

.btn-color {
  background: purple;
}

.btn-color:hover {
  background: mediumpurple;
}

#chatArea {
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-input {
  border-top: 1px solid dimgray;
}

.message {
  padding: 2px 12px;
  /*fix overflow to not be horizontal outside chatArea*/
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}


.chatBot {
  border-left: 1px solid cornflowerblue;
  color: mediumaquamarine;
  font-weight: bold;
}
